html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: TrueCrimes;
  src: url("./true-crimes.ttf");
}

body {
  background-image: url("./assets/marvel_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.title {
  font-family: TrueCrimes;
}

.marvel-red-text {
  color: #e23636;
}
